<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.todo.persistance.TodoDao">

	<select id="selectAll" resultType="TodoVO">
		SELECT * FROM tbl_todoList
	</select>
	<select id="findByUsername">
	 	Select * from tbl_todolist
	 	WHERE t_username =#{username}
	</select>
	<select id="findById" resultType="UserVO">
		SELECT * FROM tbl_todolist
		WHERE t_seq =#{t_seq}
	</select>
	<insert id="insert">
		INSERT INTO tbl_todolist(t_username,t_sdate,t_stime,
		t_content)
		VALUES(#{t_username},#{t_sdate},#{t_stime}, #{t_content})
	</insert>
	<update id="update">
		UPDATE tbl_todoList Set
		t_content = #{t_content},
		t_edate = #{edate},
		t_etime = #{t_time}
		WHERE t_seq = #{t_seq}
	</update>
	<delete id="delete"></delete>
	<select id="create_todo_table">
		create table tbl_todolist (
		t_seq Bigint auto_increment primary key,
		t_username varchar(20) not null,
		t_sdate varchar(10) not null,
		t_stime varchar(10),
		t_content varchar(50),
		t_edate varchar(10),
		t_etime varchar(10)
		)
	</select>

</mapper> 